
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
body {
    background-color: #FFDDEE;
}
h1 {
    color: #818181;
}
p {
    color: #020202;
    text-align: center;
    font-size: 18px;
}
